<div class="panel panel-primary" *ngIf='product'>
    <div class="panel-heading">
        {{'Product: ' + product.productName}} {{starRating ? starRating : ''}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 product-detail-text-block">
                <div class="row detail-row ">
                    <span class="detail-row detail-row-star col-sm-5">
                        Product Name:
                    </span>
                    <span class="detail-row detail-row-star col-sm-5">
                        {{product.productName}}
                    </span>
                </div>
                <div class="row detail-row">
                    <span class="detail-row detail-row-star col-sm-5">
                        Product Code:
                    </span>
                    <span class="detail-row detail-row-star col-sm-5">
                        {{product.productCode}}
                    </span>
                </div>
                <div class="row detail-row">
                    <span class="detail-row detail-row-star col-sm-5">
                        Product Release Date:
                    </span>
                    <span class="detail-row detail-row-star col-sm-5">
                        {{product.releaseDate}}
                    </span>
                </div>
                <div class="row detail-row">
                    <span class="detail-row detail-row-star col-sm-5">
                        Product Price:
                    </span>
                    <span class="detail-row detail-row-star col-sm-5">
                        {{product.price}}
                    </span>
                </div>
                <div class="row">
                    <span class="detail-row detail-row-star col-sm-5">
                        Star Rating:
                    </span>
                    <pm-star class="col-sm-5 detail-row-star-component" [starRating]='product.starRating' (ratingClicked)='onRatingsClicked($event)'>

                    </pm-star>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-image"><img [src]='product.imageUrl' [title]='product.productName | uppercase' [style.width.px]='imageWidth'/></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>
