<div class='panel panel-primary'>
    <div class='panel-heading text-center' >
        {{welcomeMessage}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <img [src]='imageUrl' [style.width.px]=600 class='center-block'/>
        </div>
        <div class="row">
            <div class='text-center'>
                Developed By: Abhishek Jain
            </div>
            <div class="text-center">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100002313062413"><img src='../../assets/images/facebook.png' class='contact-icon'></a>
                <a target="_blank" href="https://www.linkedin.com/in/iamabhishekjain/"><img src='../../assets/images/linked.png' class='contact-icon'></a>
                <a target="_blank" href="https://twitter.com/AbhiJain_IITG"><img src='../../assets/images/twitter.png' class='contact-icon'></a>
            </div>
        </div>
    </div>
</div>