.product-detail-text-block {
    margin: 20px;
}

.detail-row {
    margin-bottom: 4px;
    font-size: 20px;
}

.detail-row-star {
    padding: 0px;
}

.detail-row-star-component {
    margin-top: 7px;
    padding: 0px
}